<h1>
  Edit episode #<%= @episode.id %>
</h1>

<hr>

<form action="/update_episode/<%= @episode.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control" value="<%= @episode.title %>">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"><%= @episode.description %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update episode
  </button>
</form>

<hr>

<a href="/episodes">
  Go back
</a>
