<h1>
  Add a new episode to <%= image_tag(@podcast.logo_url(:thumbnail), :width => 50, :height => 50) %> <%= @podcast.title %>
</h1>


<hr>

<form action="/create_episode/<%= @podcast.id %>" method="post">

  <div class="form-group">
    <label for="title">
      Episode Title
    </label>

    <input type="text" id="title" name="title" class="form-control" placeholder="Enter episode title...">
  </div>

  <div class="form-group">
    <label for="audio">
      Audio (Coming soon)
    </label>

    <input type="file" id="audio" name="audio" class="form-control">
  </div>

  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3" placeholder="Give this episode a description..."></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create episode
  </button>
</form>
<hr>

<a href="/episodes">
  Go back
</a>
